* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
  height: auto;
}

.container__title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.carousel {
  width: 80%;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}

.carousel__button {
  position: absolute;
  top: 50%;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  width: 1em;
  z-index: 100;
  background: transparent;
  transform: translateY(-50%);
}

.carousel__button--prev {
  left: 10%;
}

.carousel__button--next {
  right: 10%;
}

.carousel__slide {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

.carousel__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  background-color: black;
}

.carousel__header {
  position: absolute;
  top: 50%;
  left: 50%;

  color: white;
  z-index: 10;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 400;
}
.carousel__img {
  width: 100%;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  opacity: 0.7;
}
